.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 10px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #75CEFA;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #B8B8B8;
    border: 1px solid #5F5F5F;
    color: #FFFFFF;
    cursor: default;
}

.BuildControl button:hover:disabled {
    color: #FFFFFF;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #00AAFF;
    color: white;
}

.BuildControl .More {
    background-color: #FF4141;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #75CEFA;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #F97676;
    color: white;
}